body {
      font-family: "Arial", "Meiryo", sans-serif;
      text-align: center;
      font-size: 20px;
}
   
/* h1装飾 */
h1 {
   font-family: "Josefin Sans", sans-serif;
   font-size: 2em;
   letter-spacing: 1.2em;
   text-shadow: 2px 2px 4px rgb(166, 45, 210);
   border-bottom: 3px solid rgb(115, 115, 114);
 }

 /* 青色テキスト */
.blue {
   color: skyblue;
 }
 
 /* ピンク色テキスト */
 .pink {
   color: rgb(255, 192, 203);

/* id="basic" の中のpを太字に */
#basic p {
   font-weight: bold;
}

/* それ以外のpは太字にしない　*/
body > p,
body > h2 + p {
   font-weight: normal;
}